.footer-subscribe.container#footer-subscribe
    .footer-subscribe__content.row.justify-content-center
        .footer-subscribe__text.col-md-8.col-lg-7.col-xl-6
            .footer-subscribe__title newsletter
            .footer-subscribe__desc You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.
        .footer-subscribe__input.col-md-8.col-lg-7.col-xl-6
            //- .footer-subscribe__input-success
            //-     i.zmdi.zmdi-check-circle
            //-     | You have successfully subscribed to this newsletter.
            include ../subscribe/subscribe.pug
            //- input(type="text")