.footer-subscribe.container
    .footer-subscribe__content.row.justify-content-center
        .footer-subscribe__text.col-md-8.col-lg-7.col-xl-6
            .footer-subscribe__title newsletter
            .footer-subscribe__desc You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.
        .footer-subscribe__input.col-md-8.col-lg-7.col-xl-6
            input(type="text")