a.banner.container(href="category.html?category_id=15")
    .banner__bg(style="background-image: url(./assets/img/bg/bg-middle.jpg);")
    .banner__text
        .banner__title Natural Line of Makeup
        .banner__subtitle Only the finest and purest organic ingredients