mixin button(options)
    //- color: primary, secondary, tertiary
    //- text
    //- href
    //- icon: cart
    if options.submit
        button.button(type="submit" class="button--"+options.color)
            .button__text #{options.text}
    
    else
        a.button(href=options.href || "#" class="button--"+options.color)
            if options.icon=="cart"
                i.button__icon.zmdi.zmdi-shopping-cart
            .button__text #{options.text}