@import "../../assets/scss/utils/vars.scss";

.button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .4s ease;
    font-size: 14px;

    &:hover {
        text-decoration: none;
    }

    &--primary {
        color: $default-color;
        text-transform: uppercase;
        background-color: $primary-color;
        &:hover {
            background-color: $primary-alternative-color;
            color: $default-color;
        }
    }
    &--secondary {
        color: $neutral-secondary-color;
        background-color: $primary-color;
        &:hover {
            color: $default-color;
            background-color: $primary-alternative-color;
        }
    }
    &--tertiary {
        color: $default-color;
        background-color: $neutral-secondary-color;
        &:hover {
            background-color: $dark-color;
        }
    }

}

.button__icon {
    color: $default-color;
    margin-right: 10px;
    font-size: 20px;
}

.button__text {
    // text-transform: uppercase;
    // color: $default-color;
    // font-size: 14px;
}