.cart-goods.container(data-cart-goods-container)
    //- .cart-goods__item
    //-     +cartItem({})
    //- .cart-goods__item
    //-     +cartItem({})
    //- .cart-goods__item
    //-     +cartItem({})