.goods.container
    .goods__title
        .goods__title-text(data-main-sort="popular") Popular
        .goods__title-text(data-main-sort="new") new&nbsp;arrivals
        .goods__title-text(data-main-sort="bestseller") best&nbsp;sellers
    .goods__grid.row#goods-grid(data-main-goods-grid)
        .goods__card.col-sm-6.col-md-4.col-lg-3
            +goodCard({
                src: "./assets/img/placeholder/noimage.png",
                new: true, 
                sale: true, 
                group: "Make-up",
                title: "Container is Perfect for Essential Oils",
                price: "8.00 $",
                })
        .goods__card.col-sm-6.col-md-4.col-lg-3
            +goodCard({
                src: "./assets/img/placeholder/noimage.png",
                new: true, 
                sale: true, 
                pack: true,
                oferta: true,
                group: "Lengthening mascara",
                title: "Restoring Rosehip Oil with Vitamin E",
                price: "5.60 $",
                oldprice: "7.00 $",
                })
        .goods__card.col-sm-6.col-md-4.col-lg-3
            +goodCard({
                src: "./assets/img/placeholder/noimage.png",
                new: true, 
                sale: true, 
                oferta: true,
                group: "Powders & Blushes",
                title: "Organics Thickening Shampoo",
                price: "7.68 $",
                oldprice: "9.60 $",
                })
        .goods__card.col-sm-6.col-md-4.col-lg-3
            +goodCard({
                src: "./assets/img/placeholder/noimage.png",
                new: true, 
                sale: true, 
                oferta: true,
                group: "Luxury",
                title: "Foaming Hand Sanitizer",
                price: "12.80 $",
                oldprice: "16.00 $",
                })
        .goods__card.col-6.col-md-4.col-lg-3
            +goodCard({
                src: "./assets/img/placeholder/noimage.png",
                new: true, 
                sale: true, 
                group: "Plums",
                title: "Vitamin C Serum For Face",
                price: "30.00 $",
                })
        .goods__card.col-6.col-md-4.col-lg-3
            +goodCard({
                src: "./assets/img/placeholder/noimage.png",
                new: true, 
                sale: true, 
                pack: true,
                group: "Natural",
                title: "Virgin Organic Coconut Oil",
                price: "35.00 $",
                })
        
