.goods.container
    .goods__title.row.justify-content-md-center
        .col-4.col-md-3 Popular
        .col-4.col-md-3 new&nbsp;arrivals
        .col-4.col-md-3 best&nbsp;sellers
    .goods__grid.row
        .goods__card.col-6.col-md-4
            +goodCard({
                src: "../../assets/img/goods/make-up.jpg",
                new: true, 
                sale: true, 
                pack: true,
                oferta: true,
                title: "Make-up",
                desc: "Container is Perfect for Essential Oils",
                price: "8.00",
                oldprice: "10.00",
                })
        .goods__card.col-6.col-md-4
            +goodCard({
                src: "../../assets/img/goods/make-up.jpg",
                new: true, 
                sale: true, 
                pack: true,
                oferta: true,
                title: "Make-up",
                desc: "Container is Perfect for Essential Oils",
                price: "8.00",
                oldprice: "10.00",
                })
        .goods__card.col-6.col-md-4
            +goodCard({
                src: "../../assets/img/goods/make-up.jpg",
                new: true, 
                sale: true, 
                pack: true,
                oferta: true,
                title: "Make-up",
                desc: "Container is Perfect for Essential Oils",
                price: "8.00",
                oldprice: "10.00",
                })
        .goods__card.col-6.col-md-4
            +goodCard({
                src: "../../assets/img/goods/make-up.jpg",
                new: true, 
                sale: true, 
                pack: true,
                oferta: true,
                title: "Make-up",
                desc: "Container is Perfect for Essential Oils",
                price: "8.00",
                oldprice: "10.00",
                })
        .goods__card.col-6.col-md-4
            +goodCard({
                src: "../../assets/img/goods/make-up.jpg",
                new: true, 
                sale: true, 
                pack: true,
                oferta: true,
                title: "Make-up",
                desc: "Container is Perfect for Essential Oils",
                price: "8.00",
                oldprice: "10.00",
                })
        
