.goods-bottom.container#new-arrivals
    .goods-bottom__title 
        a.goods-bottom__link(href="#") New arrivals
    .goods-bottom__grid.row(data-goods-bottom)
        .goods-bottom__card.col-6.col-md-4.col-lg-3
            +goodCard({
                src: "./assets/img/goods/make-up-1.png",
                new: true, 
                sale: true, 
                group: "Make-up",
                title: "Container is Perfect for Essential Oils",
                price: "8.00 $",
                })
        .goods-bottom__card.col-6.col-md-4.col-lg-3
            +goodCard({
                src: "./assets/img/goods/rosehip-oil-1.png",
                new: true, 
                sale: true, 
                pack: true,
                oferta: true,
                group: "Lengthening mascara",
                title: "Restoring Rosehip Oil with Vitamin E",
                price: "5.60 $",
                oldprice: "7.00 $",
                })
        .goods-bottom__card.col-6.col-md-4.col-lg-3
            +goodCard({
                src: "./assets/img/goods/thikening-1.png",
                new: true, 
                sale: true, 
                oferta: true,
                group: "Powders & Blushes",
                title: "Organics Thickening Shampoo",
                price: "7.68 $",
                oldprice: "9.60 $",
                })
        .goods-bottom__card.col-6.col-md-4.col-lg-3
            +goodCard({
                src: "./assets/img/goods/sanitizer-1.png",
                new: true, 
                sale: true, 
                oferta: true,
                group: "Luxury",
                title: "Foaming Hand Sanitizer",
                price: "12.80 $",
                oldprice: "16.00 $",
                })