.wrapper.container.header
	.header__top
		.header__row
			.header__left-space
			.header__logo
				a.logo(href="index.html")
					img.logo__img(src="./assets/img/logo/organic-cosmetics-logo.png", alt="")
			.header__icons
				include ../../blocks/cart-card/cart-card.pug
				.icon-cart(data-cart-icon)
					.icon-cart__bg
					i.icon-cart__icon.zmdi.zmdi-shopping-cart
					.icon-cart__value(data-icon-cart-value) 5
	.header__list
		.header-list
			a.header-list__item(href="category.html") PARFUMS
			a.header-list__item(href="category.html") BODY CARE
			a.header-list__item(href="category.html") ORAL CARE
			a.header-list__item(href="category.html") HAIR CARE

