.wrapper.container.header
	.header__top
		.header__row
			.header__left-space
			.header__logo
				a.logo(href="#")
					img.logo__img(src="../../assets/img/logo/organic-cosmetics-logo.webp", alt="")
			.header__icons
				a.icon-cart
					i.cart.zmdi.zmdi-shopping-cart
	.header__bottom

