.wrapper.container.header
	.header__top
		.header__row
			.header__left-links
				a.header__link(href='index.html') Home
				a.header__link(href='contacts.html') Contact us
			.header__logo
				a.logo(href="index.html")
					img.logo__img(src="./assets/img/logo/organic-cosmetics-logo.png", alt="")
			.header__account
				a.header__link(href='login.html') Login
				a.header__link(href='registration.html') Registration
			.header__icons
				include ../../blocks/cart-card/cart-card.pug
				.icon-cart(data-cart-icon)
					.icon-cart__bg
					i.icon-cart__icon.zmdi.zmdi-shopping-cart
					.icon-cart__value.icon-cart__value--display-none(data-icon-cart-value)
	.header__list
		.header-list
			a.header-list__item(href="category.html?category_id=15") MAKE UP
			a.header-list__item(href="category.html?category_id=11") FACE CARE
			a.header-list__item(href="category.html?category_id=12") BODY CARE
			a.header-list__item(href="category.html?category_id=13") HAIR CARE
			a.header-list__item(href="category.html?category_id=14") AROMATHERAPY

