.login.container
    .row
        .login__title.col-12 Login to account
        form.login__form.col-md-6(login-form)
            .login__field
                .login__label Email
                +input('Enter your email', 'email', 'email')
            .login__field
                .login__label Password
                +input('Enter password', 'password', 'password')
            .login__button
                .login__button-item
                    +button({
                        color: 'primary',
                        text: 'Log in',
                        type: 'submit'
                    })
                .login__button-item
                    +button({
                        color: 'tertiary',
                        text: 'Registration',
                        href: 'registration.html'
                    })
