.main-top.container
    .main-top__slider-wrapper
        .main-top__slider
            img.slider__img(src="../../assets/img/bg/bg-slider-1.jpg", alt="")
        .main-top__images-wrapper.container
            .main-top__images.row
                .main-top__image.col-12.col-sm-6
                    img.main-top__img(src="../../assets/img/bg/top-left.jpg", alt="")
                .main-top__image.col-12.col-sm-6
                    img.main-top__img(src="../../assets/img/bg/top-right.jpg", alt="")