.container
    .product-page-card.row
        include ../../blocks/big-card/big-card.pug
        .product-page-card__description
            .product-page-card__title
                .product-page-card__title-item Description
            .product-page-card__text
                .col-md-8
                    p Our company advocates the postulate that the health is the biggest value in our lives. The point is that science and nature are easily combined in products that we are glad to offer you today. Our goal is to help you stay healthy as well as gorgeous at the same time. Soon you’ll discover how it is possible to use organic cosmetics for your body.
                    p You can shop with the confidence that you are in the place which has over twenty years of experience in organic cosmetics industry. We’ve collected all our knowledge to deliver you only the best organic, biodynamic, natural, wild-harvested cosmetology brands in the world.
                    p Also you can always contact our consultants that are always glad to provide you with full information about our goods and natural products that are used in the process of production of organic cosmetics. Our goal is to satisfy all our clients despite of their age, gender and race with premium, modern, effective alternatives to conventional beauty products.
        .product-page-card__skincare
            include skin-care.pug
        