.footer-contacts.container
    .footer-contacts__content.row.justify-content-center
        .footer-contacts__desc.col-sm-6.col-md-7 Our organic products are manufactured and sourced worldwide from where they grow best. No chemicals, no synthetics, no additives, animal cruelty free. We prevent pollution and reduce waste.
        .footer-contacts__list.col-sm-4.col-md-11.offset-sm-2.offset-md-0
            .footer-list
                a.footer-list__item(href="category.html?category_id=11") Face care
            .footer-list
                a.footer-list__item(href="category.html?category_id=12") Body care
            .footer-list
                a.footer-list__item(href="category.html?category_id=13") Hair care
            .footer-list
                a.footer-list__item(href="category.html?category_id=14") Aromatherapy
            .footer-list
                a.footer-list__item(href="category.html?category_id=15") Make up
            .footer-list
                a.footer-list__item(href="contacts.html") Contacts
            .footer-list
                a.footer-list__item(href="profile.html") Profile
        .footer-contacts__phone.col-12 
            i.zmdi.zmdi-phone
            span 800-2310-44-34
        