.footer-contacts.container
    .footer-contacts__content.row.justify-content-center
        .footer-contacts__desc.col-md-7 Our organic products are manufactured and sourced worldwide from where they grow best. No chemicals, no synthetics, no additives, animal cruelty free. We prevent pollution and reduce waste.
        .footer-contacts__list.col-11
            .footer-list
                a.footer-list__item(href="#") Prices drop
            .footer-list
                a.footer-list__item(href="#") New products
            .footer-list
                a.footer-list__item(href="#") Best sales
            .footer-list
                a.footer-list__item(href="#") Contacts
            .footer-list
                a.footer-list__item(href="#") Login
        