mixin cartThumb()
    .cart-thumb
        .cart-thumb__main
            img.cart-thumb__img(src="./assets/img/goods/make-up-1.png" data-cart-thumb-card-img)
            .cart-thumb__desc
                a.cart-thumb__title(href="product.html") Organic Green Tea
                .cart-thumb__close
                    i.zmdi.zmdi-close
                .card-thumb__price 26,50 $
        .cart-thumb__bottom
            .cart-thumb__count 1