.footer-socials.container
    .footer-socials__copy &#169;2020 - Organic Cosmetics
    .footer-socials__icons
        .footer-socials__icons-item
            <i class="zmdi zmdi-facebook"></i>
        .footer-socials__icons-item
            <i class="zmdi zmdi-twitter"></i>
        .footer-socials__icons-item
            <i class="zmdi zmdi-youtube-play"></i>