.footer-socials.container
    .footer-socials__copy &#169;2020 - Organic Cosmetics
    .footer-socials__icons
        a.footer-socials__icons-item(href="http://facebook.com" target="_blank")
            <i class="zmdi zmdi-facebook"></i>
        a.footer-socials__icons-item(href="http://twitter.com" target="_blank")
            <i class="zmdi zmdi-twitter"></i>
        a.footer-socials__icons-item(href="http://youtube.com" target="_blank")
            <i class="zmdi zmdi-youtube-play"></i>