extends ../layout/page.pug

block variables
	- var title = 'Главная страница';

block content
	include ../includes/header.pug
	include ../includes/main-top.pug
//- 	include ../includes/_number-column.pug
//- 	include ../../blocks/menu/menu.pug
//- 	.wrapper(data-main-wrapper="main").hide-icons.wrapper--hide-centerText.wrapper--contacts
//- 		.main-page-icons
//- 			.main-page-icons__logo
//- 				include ../../blocks/logo/logo.pug
//- 			.main-page-icons__vk
//- 				include ../../blocks/vk/vk.pug
//- 			.main-page-icons__git
//- 				include ../../blocks/git/git.pug
//- 		include ../../blocks/centerText/centerText.pug
//- 		include ../../blocks/menuIcon/menuIcon.pug
//- 		include ../../blocks/about/about.pug
//- 		include ../../blocks/contacts/contacts.pug
//- 		include ../../blocks/portfolio/portfolio.pug