extends ../layout/page.pug

block variables
	- var title = 'Главная страница';

block content
	include ../../blocks/success-card/success-card.pug
	include ../../blocks/big-card-wrapper/big-card-wrapper.pug
	include ../includes/header.pug
	include ../includes/main-top.pug
	include ../includes/goods.pug
	include ../../blocks/banner/banner.pug
	include ../includes/goods-bottom.pug
	include ../includes/footer.pug