extends ../layout/page.pug

block variables
    - var title = 'Order';

block content
    include ../includes/header.pug
    .order-content.container
        .row
            .col-12.col-md-7.col-lg-8
                include ../../blocks/order-main/order-main.pug
            .col-12.col-md-5.col-lg-4
                include ../../blocks/order-aside/order-aside.pug
    include ../includes/footer.pug