extends ../layout/page.pug

block variables
	- var title = 'Product';

block content
	include ../../blocks/success-card/success-card.pug
	include ../../blocks/big-card-wrapper/big-card-wrapper.pug
	include ../includes/header.pug
	.container
		+path({main: 'Home', subdir: 'Make-Up'})
	include ../includes/product-page-card.pug
	.container
		include ../includes/goods-bottom.pug
	include ../includes/footer.pug