extends ../layout/page.pug

block variables
	- var title = 'Registration';

block content
	include ../../blocks/info-card/info-card.pug
	include ../includes/header.pug
	.container
		+path({main: 'Home', subdir: 'Registration'})
	include ../includes/registration.pug
	include ../includes/footer.pug