// $mainFont                : 'Open Sans', sans-serif;
$mainFont                : 'Montserrat', sans-serif;
// $secondaryFont           : 'BebasNeue Regular', sans-serif;
$secondaryFont           : 'Roboto', sans-serif;
$iconicFont              : 'Material-Design-Iconic-Font';

// $primary-color           : #00abdf;
// $secondary-color         : #ffc920;
// $default-color           : #fff;
// $danger-color            : #ff663d;
// $neutral-primary-color   : #A7A7A7;
// $neutral-secondary-color : #636363;
// $dark-color              : #232323;

$primary-color:            #96cd00;
$primary-alternative-color:#7aa700;
$secondary-color:          #f8f8f8;
$default-color:            #fff;
$info-color:               #0579fc;
$warning-color:            #ffb400;
$danger-color:             #ff138c;
$neutral-primary-color:    #C7D2D6;
$neutral-secondary-color:  #003046;
$card-background-color:    #F2F5F5;
$dark-color:               #282828;
$border-color:             #E5E5E5;
$secondary-text-color:     #8B8B8B;
$notification-color:       #0579FC;
$blur-notification-color:  rgba(5,121,252,.2);


$box-shadow:               0 3px 16px rgba(0,48,70,.2);
$backgrount-transparent:   rgba(136,136,136, 0.5);
$blure-box-shadow:         0.35714rem 0 3.57143rem rgba(0,48,70,.2);
