.goods-bottom {
    padding-bottom: 50px;
}

.goods-bottom__title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.goods-bottom__link {
    text-transform: uppercase;
    color: $neutral-secondary-color;
    transition: all .4s ease;

    &:hover {
        color: $primary-color;
        text-decoration: none;
    }
}
.goods-bottom__card {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
}