.header {
    padding: 15px;
}
.header__top {
    // border: 1px solid red;
}
.header__left-space {
    display: none;
}

.header__row  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cart {
    font-size: 22px;
    color: $primary-color;
    width: 2em;
    height: 2em;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0.35714rem 0 3.57143rem rgba(0,48,70,.2);
}

.header__bottom {
    height: 25px;
    background-color: $primary-color;
}

