@import "../../assets/scss/utils/vars.scss";
.slider__img {
    max-width: 100%;
}
.main-top__image {
    @media (max-width: 575px) {
        padding: 0;
        margin-top: 15px;

    }

}
.main-top__slider {
    
    height: 215px;
    @media (min-width: 768px) {
        height: 300px;
    }
    @media (min-width: 992px) {
        height: 385px;
    }
    @media (min-width: 1200px) {
        height: 470px;
    }
}
.main-top__images-wrapper {
    // position: absolute;
    @media (min-width: 576px) {
        margin-top: 15px;
    }
    @media (min-width: 768px) {
        transform: translateY(-30%);
    
    }
}

.main-top__images {
    margin-bottom: 20px;
}
.main-top__img {
    max-width: 100%;
    transition: all .4s ease;
}
.main-top__link {
    position: relative;
    display: block;
    transition: all .4s ease;
    &:hover {
        .main-top__img {
            transform: scale(1.02, 1.015);
            box-shadow: $box-shadow;

        }
    }
}
.main-top__link-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.main-top__link-title {
    font-size: 20px;
    color: $primary-color;
    @media (min-width: 768px) {
        font-size: 30px;
    }
}
.main-top__link-subtitle {
    color: $neutral-secondary-color;
    font-size: 14px;
    @media (min-width: 768px) {
        font-size: 16px;
    }
}