@import "../../assets/scss/utils/vars.scss";

.product-page-card {
    box-shadow: $box-shadow;
    padding-bottom: 50px;
    .big-card__close {
        display: none;
    }
}

.product-page-card__info {
    padding-left: 15px;
    padding-right: 15px;
}

.product-page-card__title {
    border-bottom: 1px solid $border-color;
}

.product-page-card__title-item {
    display: inline-block;
    background-color: #fff;
    transform: translateY(1px);
    padding: 10px;
    border: 1px solid transparent;
    border-bottom: 1px solid $border-color;
    cursor: pointer;
    
    &--active {
        border: 1px solid $border-color;
        border-bottom: 1px solid transparent;

    }
}

.product-page-card__text {
    padding-top: 40px;
    font-family: $secondaryFont;
    color: $secondary-text-color;
    padding-bottom: 40px;
    
}
.product-page-card__description {
    display: none;
    &--active {
        display: block;
    }
}