.order-main
    .order-main__steps
        .order-steps
            .order-step
                .order-step__num 1
                .order-step__text Leave a request on our website
            .order-step
                .order-step__num 2
                .order-step__text The manager clarifies the order details
            .order-step
                .order-step__num 3
                .order-step__text Order delivery within 1-3 days
            .order-step
                .order-step__num 4
                .order-step__text Pay the order upon receipt
    .order-main__form
        form.order-form(data-order)
            .order-form__title Name
            .order-form__input
                +input('Name', 'name', 'text')(data-order-input)
            .order-form__title Contact phone number
            .order-form__input
                +input('Phone', 'phone', 'number')(data-order-input)
            .order-form__title E-mail
            .order-form__input
                +input('E-mail', 'email', 'email')(data-order-input)
            .order-form__submit
                +button({
                    submit: true, 
                    color: "primary",
                    text: "order now"
                    })(data-order-submit)

    