

.order-content {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $default-color;
    // padding-right: 0;
    // padding-left: 0;

    // .row {
        // margin-left: -15px;
        // margin-right: -15px;
    // }
}