.big-card.container(data-big-card)
    .big-card__row.row
        .big-card__header.col-md-6
            .big-card__header-img-wrapper
                img.big-card__header-img(src="./assets/img/placeholder/noimage.png" data-big-card-img)
        .big-card__main.col-md-6
            .card-desc
                .card-desc__title(data-big-card-title) Organics Thickening Shampoo
                p.card-desc__text(data-big-card-subtitle) Our company advocates the postulate that the health is the biggest value in our lives. The point is that science and nature are easily combined in products that we are glad to offer you today.
                .card-desc__price
                    .card-desc__new-price
                        span(data-big-card-price) 7,68 
                        span(data-big-card-price-currency) $
                    .card-desc__old-price
                        span(data-big-card-oldprice) 9,60 
                        span(data-big-card-oldprice-currency) $
                .card-desc__subtitle Size
                .card-desc__info(data-big-card-size) 125ml
                .card-desc__subtitle(data-big-card-skin) Skin type
                //- .card-desc__info(data-big-card-skin) All skin types
                .card-desc__subtitle Quantity
                .card-desc__quantity-buttons
                    .card-desc__quantity-input
                        +quantityInput({color:"white"})(data-big-card-count)
                    .card-desc__add-to-cart
                        +button({
                            text: "add to cart",
                            icon: "cart",
                            color: "primary"
                            })(data-big-card-to-cart)
    .big-card__close(data-card-close)
        i.zmdi.zmdi-close