@import "../../assets/scss/utils/vars.scss";



.big-card {
    min-height: 500px;
    background-color: #fff;
    padding: 30px;
    background-color: $card-background-color;
    position: relative;
    margin-bottom: 30px;
}
.big-card__row {
    // min-height: 100%;
}

.big-card__header {
    height: 100%;
    // background-color: green;
    // position: relative;
}
.big-card__header-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.big-card__main {
    height: 100%;
    // background-color: rgb(136, 136, 175);
}

.card-desc {
    padding: 40px 10px;
    font-family: $secondaryFont;
}

.card-desc__title {
    font-size: 26px;
}

.card-desc__text {
    margin-top: 20px;
    font-size: 14px;
}

.card-desc__price {
    display: flex;
    align-items: baseline;
}
.card-desc__new-price {
    font-size: 36px;
    font-weight: 600;
}

.card-desc__old-price {
    margin-left: 20px;
    text-decoration: line-through;
    font-size: 20px;
    color: $neutral-primary-color;
}

.card-desc__quantity-title {
    font-size: 20px;
    margin-top: 20px;
}

.card-desc__quantity-buttons {
    display: flex;
    margin-top: 15px;
}

.card-desc__quantity-input {
    height: 45px;
    width: 90px;
    margin-right: 10px;
}

.card-desc__add-to-cart {
    width: 145px;
    height: 45px;
}

.big-card__close {
    position: absolute;
    width: 50px;
    top: 0;
    right: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    
    i {
        transition: all .4s ease;
    }
    
    &:hover {
        i {
            transform: scale(1.5,1.5);
        }
    }
}