.big-card-wrapper
    .big-card.container
        .big-card__row.row
            .big-card__header.col-md-6
                img.big-card__header-img(src="./assets/img/goods/make-up-1.png")
            .big-card__main.col-md-6
                .card-desc
                    .card-desc__title Organics Thickening Shampoo
                    p.card-desc__text Our company advocates the postulate that the health is the biggest value in our lives. The point is that science and nature are easily combined in products that we are glad to offer you today.
                    .card-desc__price
                        .card-desc__new-price 7,68 $
                        .card-desc__old-price 9,60 $
                    .card-desc__quantity-title Quantity
                    .card-desc__quantity-buttons
                        .card-desc__quantity-input
                            +quantityInput()
                        .card-desc__add-to-cart