.order-aside
    .order-aside__item
        +cartThumb()
    .order-aside__item
        +cartThumb()
    .order-aside__item
        +cartThumb()
    .order-aside__item
        +cartThumb()

    .order-aside__total
        .order-aside__string
            .order-aside__string-text 3 ITEMS
            .order-aside__string-value $55.80
        .order-aside__string
            .order-aside__string-text SHIPPING
            .order-aside__string-value FREE
        .order-aside__string
            .order-aside__string-text TAXES
            .order-aside__string-value $2.23
        .order-aside__string.order-aside__string--total
            .order-aside__string-text TOTAL (TAX EXCL.)
            .order-aside__string-value $55.80
    