//- img.slider__img(src="./assets/img/bg/bg-slider-1.jpg", alt="")
.main-slider(data-slider)
    .main-slider__left-arrow(data-arrow-left)
        <i class="zmdi zmdi-chevron-left"></i>
    .main-slider__right-arrow(data-arrow-right)
        <i class="zmdi zmdi-chevron-right"></i>
    .main-slider__wrapper(data-slider-wrapper)
        .main-slider__item(data-slider-item)
            .main-slider__item-bg(style="background-image: url(./assets/img/bg/bg-slider-3.jpg);")
            .main-slider__item-text.main-slider__item-text--slide-3
                p.main-slider__item-title New Year, Good Skin.
                p.main-slider__item-desc Safer regimens. Real results. Get started right <br> with a gift on us!
        .main-slider__item(data-slider-item)
            .main-slider__item-bg(style="background-image: url(./assets/img/bg/bg-slider-1.jpg);")
            .main-slider__item-text.main-slider__item-text--slide-1
                p.main-slider__item-title Essential Oils
                p.main-slider__item-desc 100% pure, raw, unrefined extracts are the secret <br> to a long life
        .main-slider__item(data-slider-item)
            .main-slider__item-bg(style="background-image: url(./assets/img/bg/bg-slider-2.jpg);")
            .main-slider__item-text.main-slider__item-text--slide-2
                p.main-slider__item-title New Spa Products
                p.main-slider__item-desc Our natural products safeguard your overall health today,<br> tomorrow and forever.
        .main-slider__item(data-slider-item)
            .main-slider__item-bg(style="background-image: url(./assets/img/bg/bg-slider-3.jpg);")
            .main-slider__item-text.main-slider__item-text--slide-3
                p.main-slider__item-title New Year, Good Skin.
                p.main-slider__item-desc Safer regimens. Real results. Get started right <br> with a gift on us!