include ./_mixins-links.pug
block variables

doctype html
html(lang="en")
  head
    //- title #{title}
    include ./_head.pug
    
  body(class=pageClass)
    block content
          
    include ./_foot.pug