.cart-card
    .cart-card__close
    .cart-card__title Cart
    .cart-card__main
        .cart-thumb
    .cart-card__results
        .cart-card-result
            .cart-card-result__item
                .cart-card-result__item-text Subtotal
                .cart-card-result__item-value 60.50 $
            .cart-card-result__item
                .cart-card-result__item-text Shipping
                .cart-card-result__item-value free
            .cart-card-result__item
                .cart-card-result__item-text Taxes
                .cart-card-result__item-value 0.0 $
            .cart-card-result__item.cart-card-result__item--total
                .cart-card-result__item-text Total
                .cart-card-result__item-value 60.50 $
    .cart-card__button
        +button({text: "Proceed to checkout"})
    .cart-card__continue Continue shopping
