mixin quantityInput()
    .quantity-input(data-quantity-input)
        input.quantity-input__field(value="1" data-input-value)
        .quantity-input__plus(data-input-plus) +
        .quantity-input__minus(data-input-minus) -