mixin quantityInput(options)

    .quantity-input(data-quantity-input class="quantity-input--"+options.color)
        input.quantity-input__field(value="1" data-input-value)&attributes(attributes)
        .quantity-input__plus(data-input-plus) +
        .quantity-input__minus(data-input-minus) -