@import "../../assets/scss/utils/vars.scss";

.filter__title {
    font-weight: 600;
    font-family: $secondaryFont;
    margin-bottom: 10px;
}
.filter__subtitle {
    font-family: $secondaryFont;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filter__checkboxes {
    margin-bottom: 20px;
}