.filter
    .filter__title Filter by
    .filter__subtitle Brand
    .filter__checkboxes
        +checkbox("Babyganics", "2", "Babyganics")
        +checkbox("Babyganics", "2", "Babyganics")
        +checkbox("Babyganics", "2", "Babyganics")
        +checkbox("Babyganics", "2", "Babyganics")
        +checkbox("Babyganics", "2", "Babyganics")